h1, h2, h3, h4, h5, h6 {
  color: #abc123; }

.post {
  padding-left: 1em;
  padding-bottom: 1em; }
  .post .post-title {
    font: .8em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ab43c7;
    font-size: 1.5rem; }
  .post .post-body {
    font: .8em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ab43c7; }
